html, body {
  margin: 0;
  padding: 0;
  height: 100%;
}

.wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.center {
  max-width: 50%;
}

.outer-frame {
  width: 350px;
  height: 525px;
  border: 1px solid black;
  display: flex;
  align-items: center;
  justify-content: center;
}

.inner-frame {
  width: 300px;
  height: 525px;
  border: 1px solid black;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.moving-object {
  width: 75px;
  height: 125px;
  border: 1px solid red;
  left: 0;
  position: absolute;
  align-self: flex-end;
}