*, *::before, *::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
}

html, body {
  margin: 0;
  padding: 0;
  height: 100%;
}

body {
  background-color: #ddd;
  font-family: 'Press Start 2P', cursive;
  text-transform: uppercase;
}

h1 {
  max-width: 350px;
  font-size: 24px;
  color: #89D2DB;
  text-align: center;
}

.start h2 {
  cursor: pointer;
}

h1 span {
  color: #FF7AAC;
}

.wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.outer-frame {
  width: 350px;
  height: 525px;
  border: 1px solid #0D86A5;
  display: flex;
  align-items: center;
  justify-content: center;
  background: url("https://image.prntscr.com/image/gMTuKSipRoOrs9Z1JZdhXA.jpg");
}

.inner-frame {
  width: 300px;
  height: 525px;
  border: 1px solid #0D86A5;
  position: relative;
  background: linear-gradient(#ffffff, #C9FFFF);
}

ul {
  list-style: none;
  display: flex;
  justify-content: space-around;
  font-size: 11px;
  padding-right: 37.5px;
}

.start {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 120px;
  color: #FF7AAC;
  font-size: 30px;
}

.over {
  color: #000;
  font-size: 30px;
  text-align: center;
  display: none;
}

h3 {
  max-width: 200px;
  padding: 20px;
  font-size: 10px;
  border: 1px solid #89D2DB;
  text-align: center;
  margin-left: 50px;
  background-color: #fff;
  color: #FF7AAC;
  cursor: pointer;
}

.obs-block-container {
  display: flex;
  position: absolute;
  opacity: 0;
  border-radius: 10%;
}

.obs-block {
  width: 25px;
  height: 25px;
  background-color: #0D86A5;
  box-shadow: inset 0 0 0 4px #89D2DB;
  -webkit-box-shadow: inset 0 0 0 4px #89D2DB;
  border: 1px solid #0D86A5;
}

.obs-block:first-child {
  border-top-left-radius: 20%;
  border-bottom-left-radius: 20%;
}

.obs-block:last-child {
  border-top-right-radius: 20%;
  border-bottom-right-radius: 20%;
}

.vehicle-block-container {
  width: 75px;
  height: 100px;
  position: absolute;
  bottom: 0;
}

.vehicle-block {
  width: 25px;
  height: 25px;
  background-color: #FF7AAC;
  box-shadow: inset 0 0 0 4px #FBB2D0;
  -webkit-box-shadow: inset 0 0 0 4px #FBB2D0;
  border: 1px solid #FF7AAC;
}

.mid {
  margin-left: 25px;
}
.vehicle-row2 {
  display: flex;
}
.vehicle-row3 {
  display: flex;
  justify-content: space-between;
}